.navbar-container {
  color: rgba(94, 240, 114, 0.83);
  background-color: rgb(9, 94, 23);
  width: 100%;
  display: flex;
  height: 5rem;
  font-family: "Afacad Flux";
}

.navbar-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.navbar-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.6rem;
}

.navbar-icon-container:hover {
  color: rgb(156, 235, 166);
  cursor: pointer;
}
.navbar-icon:hover {
  color: rgb(156, 235, 166);
  cursor: pointer;
}

.navbar-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5rem;
  div:hover {
    cursor: pointer;
    color: rgb(156, 235, 166);
    font-size: 1.6rem;
  }
}

.navbar-title {
  font-size: 1.1rem;
}

.home-page-container {
  font-family: "Afacad Flux";
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  height: 90.5vh;
  padding-top: 3rem;
  background-color: rgba(9, 94, 23, 0.07);
  /* background-image: url("https://images.pexels.com/photos/1224158/pexels-photo-1224158.jpeg?auto=compress&cs=tinysrgb&w=600");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

#search-box {
  width: 15rem;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 4rem;
  font-size: 2rem;
  /* background-image: url("plantbanner.jpg"); */
  background-size: 1400px;
  padding-bottom: 1rem;
  color: rgb(2, 31, 7);
}

.search-icon {
  filter: brightness(0) saturate(100%) invert(24%) sepia(41%) saturate(1254%)
    hue-rotate(84deg) brightness(100%) contrast(97%);
}

.search-icon:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(93%) sepia(49%) saturate(965%)
    hue-rotate(53deg) brightness(111%) contrast(88%);
}

.plant-card-container {
  background-color: rgba(94, 240, 114, 0.319);
  /* background-color: rgba(9, 94, 23, 0.34); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  /* height: 20rem; */
  overflow: scroll;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  padding: 2rem 2rem 2rem 2rem;
  border: 3px solid rgba(4, 53, 13, 0.423);
  border-radius: 4rem;
}
